<!DOCTYPE html>
<html>
  <head>
    <title>Chatbot quickstart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  </head>
  <body>
    <h3>Chat</h3>
    <form action="/" method="post">
      {% if conversation %}
        <div id="conversation">
          {{ conversation|safe }}
        </div>
      {% endif %}
      <input type="hidden" id="conversation_so_far" name="conversation_so_far" value="{{ conversation_json }}" />
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
          {% endfor %}
      {% endif %}
      {% endwith %}
      <textarea id="user_message" name="user_message" placeholder="Send a message" rows="3" required></textarea>
      <input type="submit" value="Send" id="send_button" />
      <p align="center"><small>Click the button above or use Ctrl + Enter keys together to send.</small></p>
    </form>
  </body>
  <script>
    window.scrollTo(0, document.body.scrollHeight || document.documentElement.scrollHeight);

    const textarea = document.getElementById('user_message');
    const button = document.getElementById('send_button');

    textarea.addEventListener('keydown', function(event) {
      if (event.ctrlKey && event.key === 'Enter') {
        event.preventDefault();
        button.click();
      }
    });
  </script>
</html>